@{
	ViewBag.Title = "F# To-Do List";
}

<section>
	<header>
		<h2>@ViewBag.Title</h2>
		@Html.ActionLink("Add item", "Create")
	</header>
	<dl id="todolist">
		<dt class="display-label">Status</dt>
		<dd class="display-field">@ViewBag.State</dd>
		<dt class="display-label">Items</dt>
		<dd class="display-field">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Due</th>
						<th>Completed</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in ViewBag.Items) {
						<tr>
							<td>@item.Name</td>
							<td>@item.State</td>
							<td>@item.Due</td>
							<td>@item.Completed</td>
							<td>
								@using (Html.BeginForm("Put", "TodoItem", new { id = item.Id }))
								{
									@Html.HttpMethodOverride(HttpVerbs.Put)
									@Html.AntiForgeryToken()
									<input type="hidden" id="name" name="name" value="@item.Name" />
									<input type="hidden" id="due" name="due" value="@item.Due" />
									<input type="hidden" id="completed" name="completed" value="@DateTime.UtcNow" />
									<button type="submit" name="Submit">Mark Complete</button>
								}
								@using (Html.BeginForm("Delete", "TodoItem", new { id = item.Id }))
								{
									@Html.HttpMethodOverride(HttpVerbs.Delete)
									@Html.AntiForgeryToken()
									<button type="submit" name="Submit">Remove</button>
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</dd>
	</dl>
</section>
