@model CSharp.Mvc.Models.TodoList

<dl id="todolist">
	<dt class="display-label">Status</dt>
	<dd class="display-field">@Model.State</dd>
	<dt class="display-label">Items</dt>
	<dd class="display-field">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Status</th>
					<th>Due</th>
					<th>Completed</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Items) {
					<tr>
						<td>@item.Name</td>
						<td>@item.State</td>
						<td>@item.Due</td>
						<td>@item.Completed</td>
						<td></td>
					</tr>
				}
			</tbody>
		</table>
	</dd>
</dl>
